@using App.Components
@model ProductModel
@{
    List<CategoryProduct>? categories = ViewBag.categories as List<CategoryProduct>;
    CategoryProduct? category = ViewBag.category as CategoryProduct;
    IQueryable<ProductModel>? otherProducts = ViewBag.otherProducts as IQueryable<ProductModel>;
    ViewData["Title"] = Model.Title;
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
        @if (category != null) {
            var listCategory = category.ListParents();
            foreach (var li in listCategory) {
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug=@li.Slug>@li.Title</a>
                </li>
            }
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug=@category.Slug>@category.Title</a>
                </li>
        }
  </ol>
</nav>

<div class="detailpost">
    <h1>@Model.Title</h1>
    <div class="sapo">
        @Model.Description
    </div>
    <div>
        <p>
            Giá: <strong>@Model.Price</strong>
            <a asp-action="AddToCart" asp-route-productid="@Model.ProductId" class="btn btn-primary ml-4">Đặt hàng</a>
        </p>
    </div>
    <div>
        <i>Ngày cập nhật: @Model.DateUpdated</i> |
        Tác giả: <strong>@Model.Author?.UserName</strong>
    </div>

@if (Model.Photos.Any()) {
    <div class="d-flex flex-wrap">
        @foreach (var photo in Model.Photos) {
            <img class="w-50" src="/contents/Products/@photo.FileName" />
        }
        
    </div>
}

    <hr>
    @Html.Raw(Model.Content)
</div>




@section Sidebar {
    @await Component.InvokeAsync("App.Components.CategoryProductSidebar", new CategoryProductSidebar.CategorySidebarData() {
        Categories = categories,
        Level = 0,
        CategorySlug = category?.Slug
    })

<ul class="list-group">
    @foreach (var product in otherProducts) {
        <li class="list-group-item">
            <a asp-action="Details" asp-controller="ViewProduct" asp-route-productslug="@product.Slug">@product.Title</a>
        </li>
    }
</ul>
}