@using App.Menu
@inject AdminSidebarService adminSidebarService

@model App.Models.Blog.Category

@{
    ViewData["Title"] = Model.Title;
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Quay về danh sách</a>
</div>
@{
    adminSidebarService.SetActive("Blog", "Category", "Details");
}

@section Siderbar {
    @Html.Raw(adminSidebarService.CreateHtml());
}